@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-color: #04100d; /* dark-500 - verde muito escuro */
  color: #d1fae5; /* primary-100 - verde claro */
  font-family: 'Inter', sans-serif;
}
